@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits Panel
@namespace Sandbox

<root>
	@if(_Unit is null) return;
	<div class="MainContainer">
		<div class="AbilityHeader"><p>ABILITIES</p></div>
		<div class="AbilityContainer">
			@for(int i = 0; i < _Unit.UAbility.Abilities.Count(); i++)
			{
				<div class="AbilityDiv">
					<h1 class="AbilityIndex">@(i+1)</h1><h1 class="Title">@(_Unit.UAbility.Abilities[i]?.Data.Name)</h1>
				</div>
			}
			@if(_Unit.UAbility.Abilities.Count() < 5)
			{
				@for(int i = 0; i < 5 - _Unit.UAbility.Abilities.Count(); i++)
				{
				<div class="AbilityDiv">
					<h1 class="AbilityIndex">@(i+1 + _Unit.UAbility.Abilities.Count())</h1><h1 class="Title"> </h1>
				</div>
				}	
			}
		</div>
</root>

@code
{
	public Unit _Unit;

	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now);
}
