@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel
@namespace Sandbox


<root>
	<label class="value" @ref ="main">@value.ToString()</label>
	<label class="outline" @ref ="shadow">@value.ToString()</label>
</root>

@code
{
	Panel main;
	Panel shadow;
	public int Index;
	public float Width;
	public float Gap;
	public float Delay;
	public float Age = 0;
	public string Font;
	public int Size;
	public Color color;
	public Char value;
	public FloatingChar prevChar;
	public Vector2 Position;
	public ICharAnimation animation;
	private bool HasStarted = false;
	private bool HasStyled = false;

	public bool ReadyToDelete = false;

	public FloatingChar(char c, float delay, float gap, Color col, ICharAnimation anim, int index, int size = 60, string font = "ThaleahFat")
	{
		value = c;
		Delay = delay;
		Gap = gap;
		Size = size;
		Font = font;
		color = col;
		animation = anim;
		Index = index;

		if(c == ' ') Width = 15f;
		Log.Info($"char: {c}, gap: {gap}, index: {index}");
	}
	
	public void Update(float delta)
	{
		if(!main.IsValid() || !shadow.IsValid()) return;
		if(!HasStyled)
		{
			SetStyles();
		}
		
		if(main is not null && !HasStarted)
		{
			StartAnim();
			HasStarted = true;
		}
		Age += delta;
		Width = SetWidth();
		Position = Position + new Vector2(GapAlignment() / ScaleToScreen, 0);
		//Position = Position + new Vector2(0, (float)Math.Sin((Time.Now - (Delay * 0.1f ))* 3f) * 10f);
		var Position1 = Position + new Vector2(8, 8);
		main.Style.Left = Position.x;
		main.Style.Top = Position.y;
		shadow.Style.Left = Position1.x;
		shadow.Style.Top = Position1.y;

		if(animation is not null)
		{
			animation.Update(main, delta, shadow);
			if(animation.IsFinished)
			{
				ReadyToDelete = true;
			}
		}


	}
	float SetWidth()
	{
		if(value == ' ')
		{
			return prevChar.Width;
		}
		else
		{
			return main.Box.Rect.Width;
		}
	}

	float GapAlignment()
	{
		if(prevChar is not null)
		{
			return prevChar.Width * Gap;
		}
		else
		{
			if(Index == 0)return 0;
			else return Width * Gap;
		}
	}

	public void StartAnim()
	{
		animation.Reset(main, shadow);
		animation.IsStarted = true;
	}

	void SetStyles()
	{
		main.Style.FontFamily = Font;
		shadow.Style.FontFamily = Font;
		main.Style.FontSize = Length.Pixels(Size);
		shadow.Style.FontSize = Length.Pixels(Size);
		main.Style.FontColor = color;
	}





	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now);
}
