FloatingChar
{
	.value
	{
		position: absolute;
		font-size: 40px;
		font-family: "Super Mario Bros. NES";
		font-smooth: never;
		color: #fff;
		z-index: 100;
	}

	.outline
	{
		position: absolute;
		font-size: 40px;
		font-family: "Super Mario Bros. NES";
		font-smooth: never;
		color: black;
		z-index: 1;
	}
}