FloatingChar
{
	position: absolute;
	z-index: 1;
	.value
	{
		position: absolute;
		font-size: 40px;
		font-smooth: never;
		color: #fff;
		z-index: 100;
	}

	.outline
	{
		position: absolute;
		font-size: 40px;
		font-smooth: never;
		color: black;
	}
}