@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits PanelComponent
@namespace Sandbox

<root>
	@if(ThisUnit.Battle.InCombat)
	{
		<div class="health">
			<div class="inner" @ref="HealthFill" />
		</div>
	}

</root>

@code
{
	[Property] Unit ThisUnit {get; set;}
	[Property] float Value {get; set;} = 100f;
	Panel HealthFill {get; set;}

	protected override void OnAwake()
	{
		ThisUnit = this.GameObject.Parent.GetComponent<Unit>();
		this.GameObject.LocalPosition = new Vector3(0,110,0);

	}
	protected override void OnUpdate()
	{
		if(!HealthFill.IsValid()) return;
		if(ThisUnit.IsValid() && ThisUnit.Stats.IsValid())
		{
			HealthFill.Style.Width = Length.Percent( (float)ThisUnit.Stats.CurrentHP / (float)ThisUnit.Stats.MaxHP * 100f);
		}
		
	}

	protected override int BuildHash() => System.HashCode.Combine( RealTime.Now );
}
