PortraitPanel
{
	position: relative;

	.Container
	{
		width: auto;
		height: auto;	
		justify-content: center;
		align-items: center;
		background-color: beige;
		border: 2px solid black;
		border-radius: 5px;
		box-shadow: 2px 2px 0px black;
	}

	.Portrait
	{
		width: 120px;
		height: auto;
		image-rendering: pixelated;	
	}
}