@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox
@attribute [StyleSheet]

<root>
	<div class="Container">
		<img class="Portrait" src="@Path" />
	</div>
</root>

@code
{
	public string Path;
	protected override int BuildHash() => System.HashCode.Combine( RealTime.Now );
}
