@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits Panel
@namespace Sandbox

<root>
	@if(_Unit is null) return;
	<div class="StatusContainer">
		<UnitStatPanel @ref="_UnitStatPanel" />
		<JobPanel @ref="_JobPanel" />
		<StatPanel @ref="_StatPanel" />
		<div style="flex-direction:row; gap:10px;">
			<EquipmentPanel @ref="_EquipmentPanel" />
			<AbilityPanel @ref="_AbilityPanel" />
		</div>
	</div>

</root>

@code
{
	public BattleUnit _Unit;
	
	private UnitStatPanel _UnitStatPanel;
	private JobPanel _JobPanel;
	private StatPanel _StatPanel;
	private EquipmentPanel _EquipmentPanel;
	private AbilityPanel _AbilityPanel;

	protected override void OnAfterTreeRender(bool firstTime)
	{
		if(!firstTime) return;
		if(_UnitStatPanel.IsValid())
		{
			_UnitStatPanel._Unit = _Unit;
			_UnitStatPanel.IsActive = true;
			_UnitStatPanel.BackdropActive = true;
		}
		if(_StatPanel.IsValid())
		{
			_StatPanel._Unit = _Unit;
		}
		if(_EquipmentPanel.IsValid())
		{
			_EquipmentPanel._Unit = _Unit;
		}	
		if(_AbilityPanel.IsValid())
		{
			_AbilityPanel._Unit = _Unit;

		}
		if(_JobPanel.IsValid())
		{
			_JobPanel._Unit = _Unit;
			Log.Info("Job Panel Unit Injected");
		}
		
	}


	protected override int BuildHash() => System.HashCode.Combine( RealTime.Now);
}
