StatBar
{
	position: relative;

	.StatBar
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;

	}
	
	.Text
	{
		font-size: 30px;
		text-align: right;
		font-family: "Retro Pixel Thick";
		color: white;
		text-shadow: 2px 2px 0px black;
	}

	.Bar
	{
		position: relative;
		width: 200px;
		height: 20px;
		border: 2px solid black;
		box-shadow: 2px 2px 0px black;
		transform: skew(35deg, 0);
		z-index: 100;
	}

	.Fill
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		border: 2px solid black;
		background-color: red;
		height: 100%;
		z-index: 1;
	}

	.Value
	{
		font-size: 30px;
		text-align: right;
		font-family: "Retro Pixel Thick";
		color: white;
		text-shadow: 2px 2px 0px black;
	}
}